body{
    background: rgb(53, 54, 54);
}

.card{
    border: 1px solid black;
}

.card-header{
    border: 1px solid black;
}

.myGrafico{
    border: 1px solid black;
}

h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 34px;
    border: 1px solid black;
}
